---
import { Image } from "astro:assets";
import logo from "../../src/images/Picture1.png";
import Header from "./Header.astro";
import AboutUs from "./AboutUs.astro";
import Technologies from "./Technologies.astro";
import Services from "./Services.astro";
import Solutions from "./Solutions.astro";
---

<Header />

<div class="flex flex-col">
  <div
    class="lg:h-screen flex flex-col lg:flex-row items-center justify-between px-6 lg:px-12 bg-no-repeat bg-cover bg-center bg-[url('/src/images/fondo.gif')]"
  >
   
    <div class="lg:w-1/2 flex flex-col items-center lg:items-start text-center lg:text-left">
      <p class="text-white drop-shadow-xl text-2xl lg:text-4xl font-bold">
        Innovar y diseñar
      </p>
      <p class="text-white text-lg lg:text-2xl mt-4">
        Es nuestra mayor meta<br />para aceptar las nuevas eras
      </p>
    </div>
   
    <div class="lg:w-1/2 flex justify-center mt-5 lg:mt-0">
      <Image
        width="300"
        height="300"
        class="w-auto h-auto lg:w-[500px] lg:h-[500px]"
        src={logo}
        alt="Innova logo"
      />
    </div>
  </div>
</div>

  <AboutUs />
  <Technologies />
  <Services />
  <Solutions />
</div>
