---
import { Image } from "astro:assets";
import logo from "../assets/logo-innovalink.png";
import Header from "./Header.astro";
import Banner1 from "./Banner1.astro";
import AboutUs from "./AboutUs.astro";
import Services from "./Services.astro";
import Solutions from "./Solutions.astro";
import HeroHelpdeks from "./HeroHelpdeks.astro";
---

<Header />

<div class="flex flex-col">
  <div class="h-screen flex items-center justify-center px-6  pt-[1%]  2xl:pt-[1%]">
    <div class="z-10 flex flex-col xl:flex-row xl:space-x-32  text-center">
      <div class="flex flex-col items-center top-[100px]">
        <Image src={logo} alt="logo" class="sm:w-[45rem] mx-auto animate-pulse-glow" />
        <h3 class="text-white text-pretty text-4xl sm:text-lg lg:text-[40px] mt-4">
          SOLUCIONES TECNOLÓGICAS INNOVADORAS
        </h3>
        <div class="pt-12 ">
          <a href="#services">
            <button class="bg-transparent border-2 border-white  hover:bg-blue-600 text-white font-bold py-4 m-2 uppercase px-6 rounded-xl transition duration-300">
              Ver Servicios
            </button>
          </a>

          <a href="https://wa.me/message/PSDJXRERKMOJI1">
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-4 m-2 uppercase px-6 rounded-xl transition duration-300">
              Agenda con nosotros
            </button>
          </a>

        </div>
        
      </div>
    </div>
  </div>


</div>
