---

import { Image } from "astro:assets";
import logo from "../../public/res/Picture1.png";
import flecha1 from "../../public/flecha1.png";
import flecha2 from "../../public/flecha2.png";
import flecha3 from "../../public/flecha3.png";

import particula1 from "../../public/particula1.png";


import Header from "./Header.astro";
import Banner1 from "./Banner1.astro";
import AboutUs from "./AboutUs.astro";
import Technologies from "./Technologies.astro";
import Services from "./Services.astro";
import Solutions from "./Solutions.astro";

const phrases = [
"design.",
"build.",
"develop.",
"debug.",
"learn.",
"collaborate.",
"create.",
"inspire.",
"test.",
"optimize.",
"transform.",
"scale.",
"innovate."
];
---

<div class="scroll-container h-[340vh] bg-black">
    <div class="sticky top-0 h-screen flex items-center justify-center ">
      <div class="flex items-center justify-center gap-8 px-8 text-9xl font-bold w-full">
        <span class="text-white
         pl-24 flex-1">we</span>
        {phrases.map((phrase) => (
          <span class="absolute left-[25%] translate-x-0 opacity-0 transition-opacity duration-500 text-blue-400 text-left flex-1" data-text={phrase}>
            {phrase}
          </span>
        ))}
      </div>
    </div>
  </div>
  <div class="h-screen bg-black text-white flex justify-center items-center">
    <h2 class="text-9xl">
      We are Innovalink
    </h2>
  </div>


  <script>
    const texts = document.querySelectorAll('[data-text]');
    const container = document.querySelector('.scroll-container');
    
    function updateText() {
      if (!container) return;
      
      const scrollProgress = window.scrollY / (container.clientHeight - window.innerHeight);
      const textIndex = Math.min(Math.floor(scrollProgress * texts.length), texts.length - 1);
      
      texts.forEach((text, index) => {
        if (index === textIndex && scrollProgress >= 0 && scrollProgress <= 1) {
          text.style.opacity = '1';
        } else {
          text.style.opacity = '0';
        }
      });
    }
    
    window.addEventListener('scroll', updateText);
    updateText();
    </script>
    
    <style>
      @media (max-width: 768px) {
        .text-6xl {
          font-size: 2rem;
        }
        
        div > div {
          flex-direction: column;
          gap: 1rem;
        }
    
        span:first-child {
          text-align: center;
        }
    
        [data-text] {
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
        }
      }
    </style>
