---
import { Image } from "astro:assets";
// import web from "../../src/images/web.jpg";
// import api from "../../src/images/api.png";
// import mk from "../../src/images/mk.jpg";

import marco from "../assets/marco2.png";
import nave from "../assets/nave.png";
import mundo from "../assets/mundo.png";
import pc from "../assets/pc.png";
import ServicesCarousel from '../components/ServicesCarousel.jsx';

---

<div id="services" class="bg-white py-16 px-4 lg:px-16">
  <ServicesCarousel client:load />
</div>


