---
import { Image } from "astro:assets";
import js from "../../src/images/js.png";
---

<div id="solutions" class="p-4 bg-white">
 
  <p class="text-black pb-3 text-4xl text-center">
    Nuestras soluciones
  </p>

  <div class="max-w-xs mx-auto lg:max-w-full">
    <div class="p-4">
      <p class="text-sm text-center lg:text-base">
        <strong>Lo que puede lograr con ellas</strong>
      </p>
    </div>
  </div>

  <hr class="w-1/2 mx-auto border-black mt-2" />

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
   
  
    <div class="border bg-blue-50 border-black rounded-lg shadow-lg mx-auto w-[380px] h-[800px]">
      <p class="text-Black text-center text-xl lg:text-2xl pt-4">
        InnovaPos
      </p>
      <div class="flex justify-center items-center my-6">
        <Image
          class="rounded-t-lg"
          src={js}
          alt="Logo 2"
          width="90"
          height="90"
        />
      </div>
      <div class="px-6 pb-6 ">
        <ul class="text-gray-800 lg:text-sm space-y-2">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
                Es un sistema de punto de venta.
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
                Se encarga de agilizar la factuación.
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              Está disponible para restaurantes, tiendas y para puestos de comida rapida.
          </li>
        </ul>
    </div>
    
    </div>

    <div class="border bg-blue-50 border-black rounded-lg shadow-lg mx-auto w-[380px] h-[800px]">
      <p class="text-Black text-center text-xl lg:text-2xl pt-4">
        InnovaRes
      </p>
      <div class="flex justify-center items-center my-6">
        <Image
          class="rounded-t-lg"
          src={js}
          alt="Logo 2"
          width="90"
          height="90"
        />
      </div>
      <div class="px-6 pb-6 ">
        <ul class="text-gray-800 lg:text-sm space-y-2">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
                Permite a los restaurantes administrar reservas de clientes en tiempo real.
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
                Permite al cliente tener un mayor orden a la hora de manejar las reservas 
            </li>
        </ul>
    </div>
    
    </div>

    <div class="border bg-blue-50 border-black rounded-lg shadow-lg mx-auto w-[380px] h-[800px]">
      <p class="text-Black text-center text-xl lg:text-2xl pt-4">
        InnovaTime
      </p>
      <div class="flex justify-center items-center my-6">
        <Image
          class="rounded-t-lg"
          src={js}
          alt="Logo 2"
          width="90"
          height="90"
        />
      </div>
      <div class="px-6 pb-6 ">
        <ul class="text-gray-800 lg:text-sm space-y-2">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
                Funcionalidades para diferenciar horas regulares, extras y festivas, con cálculos automáticos según la normativa laboral.
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
                Creación y asignación de turnos personalizados según la disponibilidad y roles de cada colaborador.
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              Visualización de calendarios de trabajo
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Funcionalidades para registrar ausencias, permisos, bajas médicas y vacaciones
        </li>
        </ul>
    </div>
    
    </div>
  </div>
</div>
