---
import { Image } from "astro:assets";
// import logo1 from "../../src/images/logo1.png";
// import logo3 from "../../src/images/logo3.png";
// import logo4 from "../../src/images/logo4.png";
// import react from "../../src/images/react.png";
// import astro from "../../src/images/astro.png";
// import js from "../../src/images/js.png";
---

<div id="technologies" class="p-4 bg-gray-800 min-h-[60vh] ">

  <p class="text-white pb-3 mb-5 text-4xl text-center ">
    Tecnologías utilizadas en los proyectos
  </p>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

    <div class="flex flex-col items-center justify-center w-full max-w-sm bg-indigo-50 border border-gray-200 rounded-lg shadow dark:border-gray-700 hover:scale-105 hover:shadow-lg transition-all duration-300 transform hover:rotate-3d">
      <!-- <Image
        class="p-8 rounded-t-lg"
        src={react}
        alt="Logo 1"
        width="200"
        height="200"
      /> -->
      <div class="px-5 pb-5">
        <h5 class="text-xl text-center font-semibold tracking-tight text-gray-900 dark:text-black">
          React
        </h5>
        
      </div>
    </div>
  
    <div class="flex flex-col items-center justify-center w-full max-w-sm bg-indigo-50 border border-gray-200 rounded-lg shadow dark:border-gray-700 hover:border-blue-500 hover:scale-105 hover:shadow-lg transition-all duration-300 transform">
      <!-- <Image
        class="p-8 rounded-t-lg"
        src={js}
        alt="Logo 2"
        width="200"
        height="200"
      /> -->
      <div class="px-5 pb-5">
        <h5 class="text-xl text-center font-semibold tracking-tight text-gray-900 dark:text-black">
          JavaScript
        </h5>
      </div>
    </div>
  
    <div class="flex flex-col items-center justify-center w-full max-w-sm bg-indigo-50 border border-gray-200 rounded-lg shadow dark:border-gray-700 hover:border-blue-500 hover:scale-105 hover:shadow-lg transition-all duration-300 transform">
      <!-- <Image
        class="p-8 rounded-t-lg"
        src={astro}
        alt="Logo 3"
        width="200"
        height="200"
      /> -->
      <div class="px-5 pb-5">
        <h5 class="text-xl text-center font-semibold tracking-tight text-gray-900 dark:text-black">
          Astro
        </h5>
      </div>
    </div>
  

    <div class="flex flex-col items-center justify-center w-full max-w-sm bg-indigo-50 border border-gray-200 rounded-lg shadow dark:border-gray-700 hover:border-blue-500 hover:scale-105 hover:shadow-lg transition-all duration-300 transform">
      <!-- <Image
        class="p-8 rounded-t-lg"
        src={logo3}
        alt="Logo 4"
        width="200"
        height="200"
      /> -->
      <div class="px-5 pb-5">
        <h5 class="text-xl text-center font-semibold tracking-tight text-gray-900 dark:text-black">
          Rails
        </h5>
      </div>
    </div>
  </div>
</div>