---
import Repair from "@components/Repair.astro";
import Footer from "@components/Footer.astro";
import Solutions from "@components/Solutions.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Playwrite+SK:wght@100..400&family=Radley:ital@0;1&display=swap" rel="stylesheet">

    <meta name="generator" content={Astro.generator} />
    <title>InnovaTest</title>

  </head>
  <body>
    <div class="bg-blue-400">
      <Repair />
      <Footer/>
      <slot />
    </div>
	
  </body>
</html>
